<div ng-app="myApp">
  <header md-page-header>
    <div md-header-picture style="background-image:url(../../content/images/1200px-Tunnel_View,_Yosemite_Valley,_Yosemite_NP_-_Diliff.jpg)"></div>
    <md-toolbar scroll>
      <div class="md-toolbar-tools">
        <md-button class="md-tools" aria-label="Go Back">
          <md-icon aria-label="keyboard_arrow_left" class="material-icons">keyboard_arrow_left</md-icon>
        </md-button>
        <h2 md-header-title flex>Sari Yanti</h2>
        <md-button class="md-tools" aria-label="Edit Contact">
          <md-icon aria-label="assistant Photo" class="material-icons">&#xE3A0;</md-icon>
        </md-button>
        <md-button class="md-tools" aria-label="More">
          <md-icon aria-label="assistant Photo" class="material-icons">&#xE3E3;</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="main-fab">
      <md-button aria-label="Float Action Button" class="md-fab md-accent">
        <md-icon aria-label="airline_seat_recline_extra" class="material-icons">&#xE636;</md-icon>
      </md-button>
    </div>
  </header>
  <md-content ng-controller="SubheaderAppCtrl" md-theme="altTheme">
    <section>
      <md-subheader class="md-primary" sticky-state="next">Unread Messages</md-subheader>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in messages">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-warn">Late Messages</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in messages">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader>Read Messages</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in messages">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-accent">Archived messages</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in messages">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
  "<a href="https://commons.wikimedia.org/wiki/File:Tunnel_View,_Yosemite_Valley,_Yosemite_NP_-_Diliff.jpg#/media/File:Tunnel_View,_Yosemite_Valley,_Yosemite_NP_-_Diliff.jpg">Tunnel View, Yosemite Valley, Yosemite NP - Diliff</a>" by <a href="//commons.wikimedia.org/wiki/User:Diliff" title="User:Diliff">Diliff</a> - <span class="int-own-work" lang="en">Own work</span>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a> via <a href="https://commons.wikimedia.org/wiki/">Commons</a>.
</div>