<div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>What's left to do?<span class="label label-info">{{ todos.length }}</span></h1>
        </div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="todo in todos track by $index">
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)">Title: {{ todo.text }} 
                    </label>
                    <label>
                      <span class="category-{{todo.category}}">Category: {{todo.category}}</span>
                      <!-- category-{{ formData.category }} -->
                    </label>
                </div>
            </div>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <label class="">Title</label>
                        <input type="text" class="form-control add-input text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
                        <!-- <i class="fa fa-caret-down selectArrow"></i> -->
                        <!-- <select id="category" class="taskCategory add-input" ng-model="formData.category" ng-options="obj.name for obj in categories">
                            <option class="" value="{{obj.name}}">Choose a category</option>
                        </select> -->
                        <label class="radio control-label">Category</label>
                   <!--      <div style="display: inline-block; background-color: #000000; color: #FFF;">
                        <md-radio-group ng-model="data.group1" layout="row">
                          <md-radio-button value="Business" class="md-primary" data-ng-model="formData.category">Business</md-radio-button>
                          <md-radio-button value="Family" data-ng-model="formData.category"> Family </md-radio-button>
                          <md-radio-button value="Other" data-ng-model="formData.category"> Other </md-radio-button>
                        </md-radio-group>
                        <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p>
                        </div> -->
                        
                        <row style="display: inline-block;">
                        <div class="radio category-">
                            <label>
                                <input type="radio" name="optionsRadios" id="radiobusines" value="Business" data-ng-model="formData.category">
                                Business
                            </label>
                        </div>
                        <div class="radio category-" required>
                            <label>
                                <input type="radio" name="optionsRadios" id="radiofamily" value="Family" data-ng-model="formData.category">
                                Family
                            </label>
                        </div>
                        <div class="radio category-">
                            <label>
                                <input type="radio" name="optionsRadios" id="radioother" value="Other" data-ng-model="formData.category">
                                Other
                            </label>
                        </div>  
                        </row>
                    <!--     <md-select placeholder="Categories" ng-class="add-input" ng-init="formData.category = selected" ng-model="formData.category">
                            <md-option ng-repeat="(i,item) in categories" value="{{item}}"
                                       ng-selected="i == 0 ? true:false">{{item.Name}}</md-option>  $
                         </md-select> -->
                         <!-- <select class="form-control ng-pristine ng-valid" ng-init="formData.category = selected" ng-model="formData.category" ng-options="obj.name for obj in categories">
                           <option value="?"></option>
                           <option value="0">Inventory Not On Site</option>
                           <option value="1">Inventory On Site</option>
                           <option value="2">Ready For Pick-Up</option>
                           <option value="3">Sterilized For Surgery</option>
                        </select> -->
                        <!-- createToDo() WILL CREATE NEW TODOS -->
                        <button type="submit" class="add-btn" ng-click="createTodo()">Add</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
    